<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buct.coder.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.buct.coder.model.Student">
        <id column="id" property="id" />
        <result column="stu_no" property="stuNo" />
        <result column="name" property="name" />
        <result column="class_name" property="className" />
        <result column="sex" property="sex" />
        <result column="school" property="school" />
        <result column="year" property="year" />
        <result column="cf_rating" property="cfRating" />
        <result column="ac_rating" property="acRating" />
        <result column="nc_rating" property="ncRating" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, stu_no, name, class_name, sex, school, year, cf_rating, ac_rating, nc_rating, create_time, update_time
    </sql>

</mapper>
